@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background: #222831;
  color: white;
}
header,
nav,
section,
.content-container,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}


body::-webkit-scrollbar {
  width: 25px;
}

body::-webkit-scrollbar-track {
  background-color: #161a20;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient( #e12525, #cc7a0f, #ddda30, #42b62b);
  border: 0px;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient( #42b62b, #ddda30,  #cc7a0f, #e12525  );
}



/* ========== Menu ==========*/
header {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1em 8em;
    background: #161a20;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  #logo {
    width: 65px;
    transition: 0.3s;
  }
  #logo:hover {
    transform: scale(1.2);
  }
  nav {
    justify-content: space-between;
    width: 40%;
    width:max-content;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em 2em;
    border: 1px solid transparent;
    border-radius: 0.3em;
    transition: 0.3s;
  }
  nav a:hover {
    border: 1px solid #f05454;
  }
  
  /* ========== Hero Section ==========*/
  section {
    width: 100%;
    height: 100vh;
  }
  
  
  
  /* ========== Footer ==========*/
  footer body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
  }
  footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  footer .row {
    padding: 1em 1em;
  }
  footer .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  footer .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  footer h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  footer li:not(:first-child) {
    margin-top: 0.8em;
  }
  footer ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  footer ul li a:hover {
    color: #2a8ded;
  }
  footer .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  footer input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  footer button {
    background-color: #c7940a;
    color: #ffffff;
  }
  footer button:hover {
    background-color: #ac8620;
    color: #ffffff;
  }
  footer div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  footer .social i {
    color: #bac6d9;
  }
  
  footer .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  footer .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  footer .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }
  footer .footer-menu a:hover{
    color: #27bcda;
  }
  footer .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  @media screen and (max-width: 850px) {
    footer .row.primary {
      grid-template-columns: 1fr;
    }
  
  }

  .new{
    background-color: #283436;
    height: 20px;
  }

  /* Сетка 1 */

#home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home .grid_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: dense;
    grid-gap: 5px;
    margin: 10px;
}

#home .grid_item {
    background-color: rgba(0, 255, 21, 0.692);
    border: 0px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    transition: 0.3s;
}

#home .grid_item:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(0, 255, 21);
    font-size: 20px;
    box-shadow: 0 6px 6px #000000, 0 6px 10px  #222831;
}


  /* Сетка 2 */

  #section-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section-1 .grid_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 300px;
    grid-auto-flow: dense;
    grid-gap: 5px;
    margin: 10px;
}


#section-1 .grid_item {
    background-color: rgba(0, 255, 242, 0.692);
    border: 0px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

#section-1 .grid_item:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(0, 255, 21);
    font-size: 20px;
    box-shadow: 0 6px 6px #000000, 0 6px 10px  #222831;
}

#section-1 .grid_item:nth-child(1){
    grid-column: span 2;
}
#section-1 .grid_item:nth-child(2){
    grid-row: span 2;
}
#section-1 .grid_item:nth-child(4){
    grid-row: span 2;
}
#section-1 .grid_item:nth-child(7){
    grid-column: span 3;
}

   /* Сетка 3 */

#section-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section-2 .grid_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1200px;
    height: 800px;
    grid-auto-flow: dense;
    grid-gap: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#section-2 .grid_item {
    background: linear-gradient( #e4f403be, #00ff37b4, rgba(255, 0, 0, 0.719));
    border: 0px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
    transition: 0.5s;
}

#section-2 .grid_item:hover {
    background: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    box-shadow: 0 6px 6px #000000, 0 6px 10px  #222831;
    width: 400px;
    height: 300px;
}


#section-2 .grid_item h2 {
    color: rgba(255, 255, 255, 0.555);
    font-size: 70px;
}


 /* Сетка 4 */


#section-3 {
  color: #272727;
  font-style: normal;
  font-weight: 400;
  padding: 1rem;
}

#section-3 .main{
  max-width: 1500px;
  margin: 0 auto;
}


#section-3 h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

#section-3 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

#section-3 .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

#section-3 .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

#section-3 .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-3 .cards_item {
  display: flex;
  padding: 1rem;
}

#section-3 .cards_item:hover {
    background: linear-gradient(#F8AB9D, #f8ab9d93, #f8ab9d38);
  }

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

#section-3 .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#section-3 .card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

#section-3 .card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}


 /* Сетка 5 */


 #section-4 body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center/cover;
  }
  #section-4 body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(10px);
  }
  
  #section-4 .calendar {
    position: relative;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
  }
  
  #section-4 .calendar__picture {
    position: relative;
    height: 200px;
    padding: 20px;
    color: #fff;
    background: #262626 url("https://relax-fm.ru/proxy/vardata/modules/news/files/1/441/news_file_441_5dadd965d5e57.jpg?w=1020&h=680&t=1571674380") no-repeat center/cover;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  #section-4 .calendar__picture::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
  }
  #section-4 .calendar__picture h2 {
    margin: 0;
  }
  #section-4 .calendar__picture h3 {
    margin: 0;
    font-weight: 500;
  }
  
  #section-4 .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }
  
  #section-4 .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
  }
  #section-4 .calendar__day:nth-child(7) {
    color: #ff685d;
  }
  
  #section-4 .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
  }
  #section-4 .calendar__number:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
  }
  #section-4 .calendar__number--current, .calendar__number:hover {
    background-color: #009688;
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
  }


   /* Сетка 6 */

   #section-5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section-5 .grid_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 300px;
    grid-auto-flow: dense;
    grid-gap: 5px;
    margin: 10px;
    color: black;
    font-weight: bold;
}


#section-5 .grid_item {
    background-color: rgba(0, 255, 21, 0.692);
    border: 0px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

#section-5 p {
  opacity: 0;
  transition: 0.5s;
  border: 0px;
  border-radius: 20px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.26);
}

#section-5 .grid_item:hover img{
  transition: 0.5s;
}

#section-5 .grid_item:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
    font-weight: bold;
    box-shadow: 0 6px 6px #000000, 0 6px 10px  #222831;
}

#section-5 .grid_item:hover p{
  opacity: 1;
}

#section-5 .grid_item:hover img{
  width: 100px;
  height: 100px;
}

#section-5 .grid_item:nth-child(1){
    grid-column: span 2;
    background-color: red;
}
#section-5 .grid_item:nth-child(2){
    grid-row: span 2;
    background-color: orange;
}

#section-5 .grid_item:nth-child(3){
  background-color: yellow;
}
#section-5 .grid_item:nth-child(4){
    grid-row: span 2;
    background-color: green;
}
#section-5 .grid_item:nth-child(5){
  background-color: cyan;
}
#section-5 .grid_item:nth-child(6){
  background-color: blue;
}
#section-5 .grid_item:nth-child(7){
    grid-column: span 3;
    background-color: purple;
}

  /* Сетка 7 */

  #section-6 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#section-6 .Login-Wrap {
  position: absolute;
  margin: auto;
  width: 450px;
  height: 250px;
  border-radius: 3px;
  background: rgb(216, 210, 210);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#section-6 .Field {
  position: relative;
  padding: 20px;
  float: left;
  height: 80px;
}

#section-6 .Field--half {
  width: 50%;
}

#section-6 .Field--full {
  width: 100%;
}

#section-6 .Field-label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  border: 1px solid transparent;
}

#section-6 .Field-text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: none;
  padding: 20px;
  height: 40px;
  font-size: 13px;
  width: 100%;
  color: #a8b1b8;
  border: 1px solid transparent;
}
#section-6 .Field-text:focus {
  background: #d7ebf6;
  outline: none;
  border: 1px solid #5cadd8;
  border-top: 0;
}
#section-6 .Field-text:focus ~ .Field-label {
  background: #d7ebf6;
  color: #5cadd8;
  border: 1px solid #5cadd8;
}

#section-6 .Field-button {
  width: 100%;
  padding: 15px 30px;
  border: none;
}

#section-6 .Field-button--submit {
  background: #7fa743;
  box-shadow: inset 0 -5px 0 #638334;
  color: white;
}

#section-6 .Field-button--facebook {
  background: #617db7;
  box-shadow: inset 0 -5px 0 #48649d;
  color: white;
}

#section-6 .Login-row {
  width: 100%;
  padding: 20px;
  float: left;
  border-top: 1px solid #e0e3e6;
}
