.squaire{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(227, 217, 30);
}
.circle{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgb(150, 223, 218);
    border-radius: 50%;
}