* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #A8A4CE;
}

header {
    background-color: #7A86B6;
    border: solid 2px #7A86B6;
    box-shadow: 0 6px 10px #7A86B6, 0 10px 10px #A8A4CE;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

header h2 {
    margin-left: 125px;
    flex: 10;
}

header nav a{
    transition-duration: 1s;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    padding: 10px 20px;
    outline: solid 2px #C8B6E2;
    border-radius: 5px;
    transform: translate(-5px, -5px);
}

header nav {
    flex: 11;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.scale {
    width: 65px;
}

.scale:hover {
    transition-duration: 1s;
    transform: scale(1.1);
}

.scale2 {
    width: 250px;
    height: 250px;
}



.content-container {
    width: 80%;
    height: 543px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 10em;
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 34px;
}


.cool {
    color: #495C83;
}

.text-container {
    width: 40%;
}

footer {
    background-color: #7A86B6;
    /* box-shadow: 0 6px 10px #7A86B6, 0 10px 10px #A8A4CE; */
    box-shadow: 0 -6px 6px -4px #7A86B6, 0 -6px 10px -4px #A8A4CE;
    font-size: 8px;
    height: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.cl1 *:nth-child(1){
    order: 1;
}

.cl2 *:nth-child(1){
    order: 1;
}

.cl3 *:nth-child(1){
    order: 1;
}